*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(128, 204, 234); */
    /* background-color: black; */
    color: rgb(0, 0, 0);
}



html {
    font-family: sans-serif;
    background: #ffffff url(miku.jpg) center center/cover repeat;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px;s */
    padding: 10px;
    /* width: 470px; */
    background-color: #7fffd4;
    border: .3px solid black;
    /*border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;*/
    -webkit-box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.58);
    box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.58);
    /* padding: 10px 0; */
    /* background-color: skyblue; */
    height: 5vh;
}

.title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid black;
    position: relative;
    height: 5vh;
    /* width: 470px; */
    /* margin: auto; */
    /*border-bottom: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.58);
    box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.58);
    /* padding: 10px 0; 
    background-color: skyblue; */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
}

.container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center ;
    gap: 7px;
    width: 500px;
    background-color: #7fffd4;
    border: 1px solid black;
    padding: 20px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.58);
    box-shadow: 7px 7px 9px 0px rgba(0,0,0,0.58);
    fill-rule: aquamarine;
}

.container:hover {
    background-color: #66e9be;
    #time {
        background-color: #66e9be;
    }
    /* animation: myAnim 2s ease-in-out 1s 1 normal none; */
}

/* @keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
} */

.container label {
    font-size: 18px;
    font-weight: 1000px;
    font-weight: bold;
    /* background-color: aquamarine; */
}
.container input {
    border: none;
    border-bottom: 1px groove black;
    padding: 8px 3px;
    width: 210px;
    text-align: center;
    color: black;
    /*background-color: aquamarine;
    */border: 1px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.container input:hover {
    border: 1px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    .warnajawab {
        background-color: #66e9be;
    }
}
/* 
#prediction{
    background-color: aquamarine;
} */

/* .loading {
    display: none;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto; } */

/* .submit {
    /* background-color: aquamarine; 
    border: 1.5px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding: 7px 10px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.bn632-hover {
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 7px ;
    margin-bottom: 0px;
    height:45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .2 ease-in-out;
    -o-transition: all .2 ease-in-out;
    -webkit-transition: all .2 ease-in-out;
    -ms-transition: all .2 ease-in-out;
    transition: all .2 ease-in-out;
    border: 1px solid black;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

    .bn632-hover.bn18 {
    background-image: linear-gradient(
        to right,
        #25aae1,
        #40e495,
        #30dd8a,
        #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    }

/* 
.warnajawab {
    background-color: #66e9be;
} */

.gender {
    display: flex;
    align-items: center;
    justify-self: center;
}

.genders {
    width: 25%;
    height: 30%;
    max-width: 100%;
    margin: 14px;
    display: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid black;
    -webkit-box-shadow:0px 0px 47px 6px rgba(45,255,196,0.65);
    -moz-box-shadow: 0px 0px 47px 6px rgba(45,255,196,0.65);
    box-shadow: 0px 0px 47px 6px rgba(45,255,196,0.65);
}

.all-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-label {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 30px;
    border: 1px solid black;
    border-bottom: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-top: -5px;
}

#time {
    border-top: none;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 270px;
    height:45px;
    border: 1px solid black;
    /*background: #e0e0e0;
    */box-shadow: inset 24px 24px 47px rgb(4, 243, 163),            inset -24px -24px 47px rgb(137, 255, 216);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
}
